{% extends "base.html"%}
{% block prevantion %}
<section id="prevention" class="about">
    <div class="container">


        <div class="section-title" data-aos="zoom-out">
            <h2>Prevention</h2>
            <p>Pneumonia Prevention</p>
        </div>

        <div class="row content" data-aos="fade-up">
            <div class="col-lg-6">

                <ul>
                    <li><i class="ri-check-double-line"></i> Vaccination :
                        The first line of defense against pneumonia is to get vaccinated. There are several vaccines
                        that can help
                        prevent pneumonia.</li>
                    <li><i class="ri-check-double-line"></i> Prevnar 13 is effective against 13 types of pneumococcal
                        bacteria. The Centers for Disease Control and Prevention (CDC) recommends.</li>
                    <li><i class="ri-check-double-line"></i> Pneumovax 23 is effective against 23 types of pneumococcal
                        bacteria. The CDC recommends.</li>
                    <li><i class="ri-check-double-line"></i> Hib vaccine
                        This vaccine protects against Haemophilus influenzae type b (Hib), a type of bacteria that can
                        cause
                        pneumonia and meningitis. The CDC recommends.</li>
                    <li><i class="ri-check-double-line"></i> Flu vaccine
                        Pneumonia can often be a complication of the flu, so be sure to also get an annual flu shot. The
                        CDC
                        recommends that everyone ages 6 months and older get vaccinated, particularly those who may be
                        at risk
                        for flu complications.</li>
                </ul>
                <ul> Other prevention tips:

                    <li><i class="ri-check-double-line"></i> If you smoke, try to quit. Smoking makes you more
                        susceptible
                        to respiratory infections, especially pneumonia.</li>
                    <li><i class="ri-check-double-line"></i> Cover your coughs and sneezes. Promptly dispose used
                        tissues.
                    </li>
                    <li><i class="ri-check-double-line"></i> Maintain a healthy lifestyle to strengthen your immune
                        system.
                        Get enough rest, eat a healthy diet, and get regular exercise.</li>
                </ul>

            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <p>
                    Together with vaccination and additional prevention steps, you can help reduce your risk for getting
                    pneumonia. Here are even more prevention tips.
                </p>
                <a href="#" class="btn-learn-more">Learn More</a>
            </div>
        </div>

    </div>
</section><!-- End About Section -->
{% endblock %}